.row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 16%;
}
.container{
    display: block;
    background: #D9D9D9;
    padding: 50px;
    border-radius: 15px;
    margin: 20px auto;
    box-shadow: 0px 0px 17px 5px #8a888896;
    border: 0px;
    position: relative;
    width: 415px;
}
input, .pic-inp{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1E1E1E;
    padding: 16px;
    border: 0px;
    margin: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 12px 2px #67676796;
}
input::placeholder, .pic-inp{
    color: #a0a0a0;
    font-size: 20px;
}
.pic{
    display: none;
}

span{
    position: absolute;
    right: 19%;
    font-size: 18px;
    bottom: 27.5%;
}
.submit{
    padding: 10px 30px;;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 25%;
    overflow: hidden;
    box-shadow: 0px 1px 12px 2px #67676796;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
}
.dtls{
    color: #1E1E1E;
    text-align: center;
    text-transform: capitalize;
}
h2{
    font-size: 30px;
    margin: 23px 0px;
}
h3{
    font-size: 20px;
    margin: 20px 0px;
}
p{
    font-size: 17px;
    margin: 25px 0px;
}
.arrow{
    width: 300px;
    height: 300px;
    display: none;
}

